.tickets-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;

    & img {
        max-width: 150px;
        width: 100%;
    }

    .card-footer,
    .card-body,
    .card-footer-controls {
        width: 100%;
    }

    .card-footer,
    .card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-footer-controls {
        max-width: 110px;

        @media (max-width: 319px) {
            margin-top: 10px;
        }

        .add-to-favorites-btn {
            transition: background-color 0.3s ease;

            &--active {
                background-color: $red;
            }

            @include media-breakpoint-up(lg) {
                &:is(:hover) {
                    & > i {
                        transition: color 0.3s ease;
                        color: $white;
                    }

                    transition: background-color 0.3s ease;
                    background-color: $red
                }
            }
        }

        .bi-heart {
            transition: color 0.3s ease;

            &--white {
                color: $white;
            }
        }

    }

    @include media-breakpoint-up(lg) {
        &:hover {
            -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}